<div class=" content">
  <div class="card">
    <div class="card-body">
      <div class="row ">
        <div class="mb-3 row">
          <label for="note-title" class=" col-form-label">Note Title</label>
          <div class="">
            <input [(ngModel)]="note.title"  name="title" type="text" class="form-control mb-4" name="note-title" id="note-title"
                   placeholder="Enter note title…">
            <textarea [(ngModel)]="note.note"  name="note" class="form-control" name="note-description" rows="3"
                      placeholder="Enter note description…"></textarea>
          </div>
        </div>
      </div>
      <div class="row ">

        <div class=" btns-base float-end">
          <button type="button" class="btn btn-success" *ngIf="status==='new'" (click)="addNewNote()">Add</button>
          <button type="button" class="btn btn-success" *ngIf="status==='edit'" (click)="editNote()">Save</button>
          <button type="button" class="btn btn-danger" *ngIf="status==='edit'"  (click)="deleteNote()" >Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
