<div class="container content">
  <div class="row ">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="mb-3 row">
        <label for="notepad-title" class=" col-form-label">Notepad Title</label>
        <div class="">
          <input [(ngModel)]="notepad.title"
                 name="title"
                 required maxlength="255"
                 type="text"
                 class="form-control"
                 id="notepad-title"
                 placeholder="My notepad title…"
          >
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 btns-base">
      <button type="button" class="btn btn-danger">Cancel</button>
      <button type="button" class="btn btn-success" [disabled]="notepad.notes.length === 0" (click)="saveNotepad()">Save</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <app-note [note]="newNote"  status="new" (addNew)="addNewNote($event)" ></app-note>
    </div>
  </div>

  <div class="row mt-4">
    <h4 class="mb-4">Notes</h4>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngFor="let note of notepad.notes">
        <app-note [note]="note"  status="edit" (delete)="deleteNote($event)" (edit)="editNote($event)"></app-note>
      </div>
    </div>
  </div>
</div>
