.side-menu-item{
  color: #ddd;
  outline: none;
  cursor: pointer;
  &:hover{
    color: white;
    font-width: 700;
  }
}
.selected-item{
  color: white;
  font-width: 700;
}

.content-base{
height: calc( 100vh - 75px )!important;
  overflow-y: auto;
}
