@import "./src/app/app.component";

.list-group-item{
  color: #aaa;
  outline: none;
  cursor: pointer;
  &:hover{
    color: white;
    font-weight: 700!important;
  }
}

.content-base{
height: calc( 100vh - 75px )!important;
  overflow-y: auto;
}

a.router-link-active {
  color: white;
  font-weight: 700!important;
}
